@import "styles/theme.css" screen;
@import "styles/layout.css" screen;
@import "styles/font.css" screen;
@import "styles/fields.css" screen;
@import "styles/form.css" screen;

input[type="color"]
{
    width: 250px;
    height: 250px;
}

label
{
    display: flex;

    font-family: monospace;
}

fieldset
{
    margin-bottom: 1em;
}

input[type="color"]
{
    display: block;

    margin: 0 auto 1em auto;
}

.caption
{
    flex: 0 0 1em;
}

input[type="range"]
{
    flex-grow: 1;
}