@import "styles/theme.css" screen;

body {
  background-color: var(--color-yandex);
  font-size: calc((100vw - 480px) * 26 / 2080 + 28px);
}

code {
  display: block;

  margin: 25px;

  white-space: pre;
}
