@import "styles/theme.css" screen;

body
{
    font-size: calc((100vw - 480px) * 28 / 2080 + 28px);
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;

    font-family: sans-serif;
    background-color: var(--color-yandex);
}

a:not(:hover)
{
    text-decoration: none;
    color: black;
}