@import "styles/theme.css" screen;
@import "styles/layout.css" screen;
@import "styles/font.css" screen;
@import "styles/fields.css" screen;
@import "styles/form.css" screen;

iframe
{
    padding: 0;
}

label
{
    display: flex;

    margin-bottom: 0.5em;
}

.caption
{
    flex: 0 0 7em;

    margin-right: 0.5em;

    line-height: 1.5em;
}

input:not([type="radio"]):not([type="checkbox"]):not([type="color"]),
select,
textarea
{
    flex: 1 0 auto;

    max-width: calc(100% - 7em);
}