@import "styles/theme.css" screen;
@import "styles/layout.css" screen;
@import "styles/font.css" screen;
@import "styles/fields.css" screen;
@import "styles/form.css" screen;
@import "styles/label.css" screen;

#valid
{
    margin-bottom: 1em;
}

.row
{
    margin-bottom: 1em; 
}

.caption
{
    flex: 0 0 7em;
}

textarea,
input[type="text"],
input[type="number"],
input[type="email"]
{
    flex-grow: 1;
}

input:invalid
{
    box-shadow: 0 0 1em crimson;
}
