@import "../lib/styles/theme.css" screen;
@import "../lib/styles/font.css" screen;

@import "../lib/styles/fields.css" screen;
@import "../lib/styles/form.css" screen;
@import "../lib/styles/iframe.css" screen;
@import "../lib/styles/label.css" screen;
@import "../lib/styles/layout.css" screen;

#changed
{
    margin-bottom: 1em;
}

label
{
    display: flex;
    align-items: baseline;

    cursor: pointer;
}

.row
{
    margin-bottom: 1em; 
}

.caption
{
    flex: 0 0 7em;
}

.grid
{
    display: grid;

    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

textarea,
input[type="text"],
select
{
    flex: 1 0 auto;

    max-width: calc(100% - 7em);
}

input[type="radio"],
input[type="checkbox"]
{
    margin-right: .5em;
}

input.changed,
select.changed,
textarea.changed
{
    box-shadow: 0 0 1em green;
}

fieldset.changed
{
    border-style: solid;
    border-color: green;
}