button {
    box-sizing: border-box;
    height: var(--field-height);
    padding: var(--field-padding);

    border: var(--field-border);
    border-radius: var(--field-border-radius);
    background-color: #fff;

    font-size: inherit;
}