.article
{
    display: flex;

    width: 100vw;
    min-height: 100vh;
}

.section
{
    flex: 0 0 auto;

    box-sizing: border-box;
}

@media all and (orientation: landscape) {
    .section
    {
        width: 50vw;
    }
}

@media all and (orientation: portrait) {
    .section
    {
        width: 100vw;
        min-height: 50vh;
    }

    .article
    {
        flex-direction: column;
    }
}